<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gab.zumer">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:label="ZumerLSPosedModule">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Camera hook module" />
        <meta-data android:name="xposedminversion" android:value="82" />

        <provider
            android:name="com.gab.zumer.provider.FakePhotoProvider"
            android:authorities="com.gab.zumer.provider"
            android:exported="true"
            android:grantUriPermissions="true" />

    </application>

</manifest>
